// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

$max-width: 1000px;

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
$header-bg-back: url('/images/header_back.jpg') no-repeat;
$header-padding-bottom: 0.9em;

//$indented-lists: true;

// Padding used for layout margins
$pad-min: 18px;
$pad-narrow: 22px;
$pad-medium: 30px;
$pad-wide: 40px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

body {
  @include box-shadow(rgba(white, 0.4) 0 0 25px, rgba(white, 0.2) 0 0 3px 1px inset);
}
